
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Outfit:wght@700&display=swap');



body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: black;
    height: auto;
    background-color:  hsl(212, 45%, 89%);

  }

#main{

  margin: 0 auto;
      text-align: center;
      background-color: hsl(0, 0%, 100%);
      border-radius: 3%;
      height: 502px;
      position: relative;
      top: 5em;
      max-width: 316px;
      box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px
  }

#QR{
  border-radius: 3%;
  max-width: 88%;
  margin: 0 auto;
  position: relative;
  top: 14px;
}
.comments p:first-child{
  margin: 0 auto;
  padding:3%;
  font-family: 'Luxurious Roman', cursive;
  font-weight: 700;
  font-size: 18px;
width: 236px;
  color: hsl(218, 44%, 22%);

}
div.comments{
  position: relative;
top: 34px;
  }
.comments p:last-child{
  font-family: 'Luxurious Roman', cursive;
  font-weight: 400;
  text-align: center;
  font-size: 15px;
  margin: auto;
  width: 265px;
  color: hsl(220, 15%, 55%);
  position: relative;
  top: 8px;
  word-break: break-word;
}
.attribution {
  font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 27px;
    left: 26px;
}
  .attribution a { color: hsl(228, 45%, 44%);
}
@media only screen and (max-width:375px){

        #QR{
            position: relative;
            padding: 3%;
            border-radius: 6%;
            width: 299px;
            margin: 0 auto;
            top: 7px;
        }
        #main{
            width:334px;
        }
        p:first-child{

            width: 261px;
        }
        p:last-child{

          margin: auto;
          width: 250px;

        }
